:root {
}

.root {
    justify-content: center;
}

.panel {
    justify-content: center;
    align-self: center;
    width: 75%;
    height: 75%;
    max-height: 75%;
    background-color: rgba(77, 26, 19, 0.72);
    border-left-color: rgb(117, 56, 36);
    border-right-color: rgb(117, 56, 36);
    border-top-color: rgb(117, 56, 36);
    border-bottom-color: rgb(117, 56, 36);
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
}

.button-container {
    align-items: center;
    justify-content: space-evenly;
}

.main-menu-button {
    width: 20%;
    height: 15%;
    background-color: rgb(128, 89, 89);
    font-size: 24px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
}
